@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');
@import url('https://use.typekit.net/zsp2nhe.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');
@import url('https://use.typekit.net/zsp2nhe.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');
@import url('https://use.typekit.net/zsp2nhe.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');
@import url('https://use.typekit.net/zsp2nhe.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');
@import url('https://use.typekit.net/zsp2nhe.css');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #000000;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  font-family: 'linotype-didot', sans-serif;
  text-transform: uppercase;
  color: #c1e704;
  font-size: 8vw;
}

h2 {
  font-family: 'linotype-didot', sans-serif;
  text-transform: uppercase;
  color: #c1e704;
  font-size: 3vw;
}

h3 {
  text-align: center;
  font-family: 'linotype-didot', sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  margin: 50px 0px 30px 0px;
  color: #c1e704;
}

h4 {
  font-size: 40px;
  text-decoration: underline;
}

h5 {
  font-size: 25px;
}

li {
  list-style: none;
}

ion-icon {
  font-size: 18px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  min-height: 8vh;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2% 0px 2%;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.menu-item {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #c1e704;
}

.menu-items > li {
  width: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu-items > li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
}

.logo-container {
  height: 100%;
  width: 10%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  height: 55px;
  width: auto;
}

.burger > div {
  background-color: #c1e704;
  width: 25px;
  height: 4px;
  margin: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

.menu-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 10%;
}

.menu-icons ion-icon {
  font-size: 25px;
  color: #c1e704;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-icons ion-icon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.search {
  display: none;
}

.search-container {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15%;
  position: absolute;
  background-color: white;
  top: 60px;
}

.search-bar {
  position: relative;
  width: 100%;
  border-radius: 5px;
  height: 30px;
  padding-left: 20px;
}

.result {
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 16px;
  border-bottom: 1px solid black;
}

.result:hover {
  background-color: #ea7503;
}

.favorites-container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.favorites-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 8vh;
  width: 24vw;
  background-color: #fff;
}

.favorite-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.favorite-item > img {
  height: 60px;
  width: auto;
}

.auth-container {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth-container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15%;
  position: absolute;
  background-color: #cf1c1c;
  top: 60px;
}

@media screen and (max-width: 1200px) {
  .nav-icon {
    z-index: 0;
  }
  .main-menu {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: black;
  }
  .main-menu > div {
    padding: 1px;
  }
  .logo-container {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .menu-items {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0px;
    height: 100vh;
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(60%, black), to(#ea7503));
    background-image: linear-gradient(to bottom left, black 60%, #ea7503);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    top: -850px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    border-radius: 100%;
    z-index: 1;
  }
  .menu-items > li {
    opacity: 0;
  }
  .menu-item {
    font-size: 25px;
  }
  .menu-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
  }
  .search {
    display: inline;
  }
  .search-bar {
    display: none;
    height: 30px;
    margin-bottom: 15px;
  }
  .search-container {
    width: 100%;
  }
  .results-container {
    width: 80%;
    top: 130px;
  }
  .auth-container-form {
    width: 100%;
    display: none;
    height: 30px;
    margin-bottom: 15px;
  }
}

@media screen and (max-height: 500px) {
  .main-menu {
    height: 15vh;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  top: 0;
  border-radius: 0;
}

.overflow-hide {
  overflow: hidden;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes searchWidthMobile {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 80%;
  }
}

@keyframes searchWidthMobile {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 80%;
  }
}

.main-header {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(0, 0, 0, 0)), to(black)), url('../img/Coctail-Hero.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 3%, black), url('../img/Coctail-Hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.about {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 5vh;
  background-color: #ea7703a9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, black), color-stop(rgba(0, 0, 0, 0.808)), color-stop(rgba(0, 0, 0, 0.685)), to(#ea7703a6)),
    url('../img/AboutBg.jpg');
  background-image: linear-gradient(black 3%, rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.685), #ea7703a6), url('../img/AboutBg.jpg');
  background-position: top;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #c1e704;
}

.about-content > p {
  font-size: 1.5rem;
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .display-none-on-mobile {
    display: none;
  }
}

.top-cocktails {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #ea7703a6), color-stop(rgba(0, 0, 0, 0.685)), to(rgba(0, 0, 0, 0.808))), url('../img/AboutBgUpDown.jpg');
  background-image: linear-gradient(#ea7703a6 3%, rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.808)), url('../img/AboutBgUpDown.jpg');
  background-position: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top-cocktails-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  width: 70vw;
  background-color: #e7042a60;
}

.top-cocktails-image {
  height: 50vh;
  width: auto;
}

.top-cocktails-name {
  color: #c1e704;
}

.top-cocktails-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 50vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.ingerdients {
  width: 100%;
}

.instructions {
  width: 100%;
}

.non-importants-container {
  width: 100%;
}

.inside-header {
  color: #c1e704;
}

.inside-container > p,
.ing-con > p {
  font-size: 12px;
  color: #c1e704;
  padding: 0 20px 0 20px;
}

.favorites-btn {
  background-color: #000000da;
  border: none;
  padding: 10px;
  color: #c1e704;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.favorites-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  .color-for-mobile {
    z-index: 4;
    background-color: black;
  }
  .top-cocktails-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e7042a4f)), url('../img/cocktail-aside.jpg');
    background-image: linear-gradient(#e7042a4f), url('../img/cocktail-aside.jpg');
    border-radius: 20px;
    background-position: center;
    background-attachment: scroll;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .content-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .top-cocktails-image {
    display: none;
  }
  .ingerdients {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .instructions {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .ing-con {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .ing-con > p {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .non-importants-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .top-cocktails {
    height: 120vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .top-cocktails-container {
    width: 90%;
    background-color: #e7042a4f;
    z-index: 5;
  }
  .non-importants-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.cocktails-section {
  min-height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(0, 0, 0, 0)), to(black)), url('../img/Coctail-Hero.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 3%, black), url('../img/Coctail-Hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8vh;
  padding-top: 5vh;
}

.cocktail-cards {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -ms-grid-columns: (minmax(400px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 100px;
  padding: 200px 1% 200px 1%;
}

.card {
  text-align: center;
  width: 60%;
  height: 400px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filters-container {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 30px;
}

.filter {
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
}

.filter-container {
  padding-bottom: 30px;
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.filter-container > label {
  color: #c1e704;
  font-size: 12px;
}

.card {
  background-color: #c1e704;
}

.card-body {
  background-color: #000000;
}

.card-title {
  color: #c1e704;
}

.btn-primary {
  background-color: #c1e704;
  color: #000000;
  border-color: #c1e704;
}

@media screen and (max-width: 992px) {
  .filters-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .filter-container {
    padding-bottom: 30px;
    width: 80%;
  }
}

.cocktail-section {
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(0, 0, 0, 0)), to(black)), url('../img/Coctail-Hero.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 3%, black), url('../img/Coctail-Hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8vh;
}

.cocktail-view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40%;
  min-height: 80%;
  background: black;
  border: 1px solid #c1e704;
  margin: 10% 0 5% 0;
}

.cocktail-view-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(0, 0, 0, 0)), to(black)), url('../img/Coctail-Hero.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0) 3%, black), url('../img/Coctail-Hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  width: 100%;
}

.cocktail-view-content {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.cocktail-view-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.cocktail-instruction {
  font-size: 12px;
  color: #c1e704;
}

.cocktail-view-favorites-btn {
  background-color: #000000da;
  border: none;
  padding: 8px;
  color: #c1e704;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #c1e704;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 10px 0 20px 0;
  width: 200px;
}

.cocktail-view-favorites-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .cocktail-view-container {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .cocktail-view-container {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */
