@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap");
@import url("https://use.typekit.net/zsp2nhe.css");
.top-cocktails {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #ea7703a6), color-stop(rgba(0, 0, 0, 0.685)), to(rgba(0, 0, 0, 0.808))), url("../img/AboutBgUpDown.jpg");
  background-image: linear-gradient(#ea7703a6 3%, rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.808)), url("../img/AboutBgUpDown.jpg");
  background-position: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-cocktails-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  width: 70vw;
  background-color: #e7042a60;
}

.top-cocktails-image {
  height: 50vh;
  width: auto;
}

.top-cocktails-name {
  color: #c1e704;
}

.top-cocktails-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ingerdients {
  width: 100%;
}

.instructions {
  width: 100%;
}

.non-importants-container {
  width: 100%;
}

.inside-header {
  color: #c1e704;
}

.inside-container > p,
.ing-con > p {
  font-size: 12px;
  color: #c1e704;
  padding: 0 20px 0 20px;
}

.favorites-btn {
  background-color: #000000da;
  border: none;
  padding: 10px;
  color: #c1e704;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 10px 0;
}

.favorites-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  .color-for-mobile {
    z-index: 4;
    background-color: black;
  }
  .top-cocktails-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e7042a4f)), url("../img/cocktail-aside.jpg");
    background-image: linear-gradient(#e7042a4f), url("../img/cocktail-aside.jpg");
    border-radius: 20px;
    background-position: center;
    background-attachment: scroll;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .content-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-cocktails-image {
    display: none;
  }
  .ingerdients {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .instructions {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .ing-con {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ing-con > p {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .non-importants-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .top-cocktails {
    height: 120vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-cocktails-container {
    width: 90%;
    background-color: #e7042a4f;
    z-index: 5;
  }
  .non-importants-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=topcocktails.css.map */